.TeamList__members {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin-right: 5%;
    color: #424242;
    font-size: 18px;
    line-height: 1.5;
}
.TeamList__members__link {
    display: inline-block;
    padding: 4px 16px;
    font-size: 24px;
    color: #424242;
}
.TeamList__members__link--active {
    background-color: #424242;
    color: #fff;
    text-decoration: none;
}